.container{
    display: flex;
    justify-content: space-between;
}
body{
    background-image: linear-gradient(to right, #3a86ff, #ff006e);
    
}
.login{
    
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-top: 20px;
    color: whitesmoke;
}
label{
    display: flex !important;
    justify-content: center !important;
    font-family: 'Poiret One', cursive;
     font-weight: bolder;
}
h1.login{
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    
}
.button_login{
    display: flex !important;
    justify-content: center !important;
}
.btn-danger{
    background-color: #ff006e !important;
    border-color: #ff006e !important;
}
.btn-danger:hover{
    background-color: red !important;
}
.register{
    
    justify-content: center;
    width: 50%;
    color: whitesmoke;
    padding-top: 20px;
    
   
}
.log{
    display: flex;
    justify-content: center;
}
.reg{
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
h1.register{
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
.title{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
.title2{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
h1.title{
    font-size: 70px;
     font-family: 'Poiret One', cursive;
     font-weight: bolder;
}
h1.title2{
    font-size: 50px;
     font-family: 'Poiret One', cursive;
     font-weight: bolder;
}
.footer
{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Poiret One', cursive;
     font-weight: bolder;
     padding-top: 200px;
}
.mb-3{
    padding-left: 50px;
    padding-right: 50px;
}
.mb-4{
    padding-left: 45%;
    padding-right: 45%;
}
nav{
    display: flex !important;
    justify-content: center !important;
}
ul.navbar-nav{
    display: flex !important;
    justify-content: center !important;
}
a.nav-link {
    color: whitesmoke;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: x-large;
}
a.nav-link:hover{
    color: #3a86ff;
}

table{
    color: whitesmoke !important;
    width: 350px !important;
    max-height: 400px ;
    overflow: auto !important;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
display: inline-block;
direction:rtl
  }

  .table-wrapper {
    max-height: 100px;
    overflow: auto;
    display:inline-block;
  }
.table_container{
    margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
}
th{
    font-size: 18px;
}

.modal_container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.profile_pic{
    width: 200px;
    height: 200px;
}