.container{
    display: flex;
}
body{
    background-image: linear-gradient(to right, #3a86ff, #ff006e);
    
}
.login{
    
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-top: 20px;
    color: whitesmoke;
}
label{
    display: flex !important;
    justify-content: center !important;
    font-family: 'Poiret One', cursive;
     font-weight: bolder;
}
h1.login{
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    
}
.button_login{
    display: flex !important;
    justify-content: center !important;
}
.btn-danger{
    background-color: #ff006e !important;
    border-color: #ff006e !important;
}
.btn-danger:hover{
    background-color: red !important;
}
.register{
    
    justify-content: center;
    width: 50%;
    color: whitesmoke;
    padding-top: 20px;
    
   
}
.log{
    display: flex;
    justify-content: center;
}
.reg{
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
h1.register{
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
.title{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
h1.title{
    font-size: 70px;
     font-family: 'Poiret One', cursive;
     font-weight: bolder;
}
.footer
{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Poiret One', cursive;
     font-weight: bolder;
     padding-top: 200px;
}
.mb-3{
    padding-left: 50px;
    padding-right: 50px;
}
.mb-4{
    padding-left: 45%;
    padding-right: 45%;
}